@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ccc;
}

h1 {
  font-family: "Aref Ruqaa", serif;
  display: none;
}

header {
  text-align: center;
}

.logo {
  text-align: center;
  margin: 0 auto;
  width: 25%;
  display: inline-block;
}


.btn {
  text-align: center;
}

header nav ul li a {
  font-family: "Aref Ruqaa", serif;
  font-size: 1.175rem;
  float: left;
  width: 100%;
  border: 2px solid #ccc;
  background-color: #333;
  padding: 0 1em;
  text-decoration: none;
  color: #fff;
}

.more-info a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #e2e2e2;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
}

.more-info {
  padding: 0 1em .5em;
  background-color: #999;
}

.more-info h2 {
  font-family: "Aref Ruqaa", serif;
  font-size: 1.3rem;
  margin-top: 0;
  color: #fff;
}

.more-info .btn a {
  text-decoration: none;
}

.more-info p {
  font-family: Georgia, serif;
  font-size: .875rem;
  color: #fff;
}

header a:hover {
  border: 2px solid #333;
  background-color: #ccc;
  color: #fff;
}

.more-info a:hover {
  background-color: #666;
  border-radius: 4px;
  color: #fff;
}

header nav ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}


main img {
  display: block;
  width: 100%;
  margin-top: .5em;
}

section img {
  display: block;
  width: 100%;
}

.boxes {
  margin: 1em 0;
}

aside .social-media {
  width: 100%;
}

.social-media a {
  text-decoration: none;
  margin-bottom: 1em;
}

.scroll-top {
  text-align: right;
}

.scroll-top a {
  font-family: "Aref Ruqaa", serif;
  border: 3px solid #aaa;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  background-color: #aaa;
}

section h3 {
  font-family: "Aref Ruqaa", serif;
  font-size: 1.175rem;
  bottom: 2.5rem;
}

section p {
  font-family: Georgia, serif;
  margin: 0 1rem;
  color: #fff;
}

